.profile-edit {
    .container {
        max-width: 840px;
    }
    .user-img {
        object-fit: cover;
        object-position: center;
        width: 96px;
        height: 96px;
        border-radius: 50%;
    }
    .text-area {
        margin: 16px 0px;
    }
}
