.profile-show {
    .profile-info {
        padding-top: 24px;
        max-width: 960px;
    }
    .user-img {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        margin-bottom: 8px;
    }
    .profile-name {
        font-size: 24px;
        margin-bottom: 8px;
    }
    .col {
        position: relative;
    }
    .profile-btn {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .tab-list {
        position: relative;
        text-decoration: none;
        color:lightgray;
    }
    .tab-list::after {
        position: absolute;
        bottom: 0px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #333;
        opacity: 0;
        visibility: hidden;
    }
    .tab-list:hover::after {
        bottom: 0px;
        opacity: 1;
        visibility: visible;
    }
    .tab-list.active::after {
        bottom: 0px;
        opacity: 1;
        visibility: visible;
    }
    .profile-photo {
        width: 100%;
    }
}
