.navbar {
    .home a {
        font-size: 20px;
        text-decoration: none;
    }
    .nav {
        position: relative;
    }
    #search-input {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        div {
            height: 49px;
            .form-control {
                width: 100%;
            }
        }
    }
    .search-btn button {
        width: 32px;
        height: 32px;
    }
    .nav-btn a {
        font-size: 14px;
        @media (max-width:767px) {
            font-size: 12px;
        }
    }
    @media (max-width: 767px) {
        .search-form {
            display: none;
        }
    }
    @media (min-width: 767px) {
        .search-btn {
            display: none;
        }
        .search-form {
            input {
                width: calc(100% - 56px)!important;
                border-radius: 5px 0px 0px 5px;
            }
            button {
                width: 56px;
                height: 31px;
                border-radius: 0px 5px 5px 0px;
            }
        }
    }
    .user-img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .dropdown-btn {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .dropdown-menu {
        a {
            font-size: 14px;
            color: black;
        }
    }
    .dropdown-item:active {
        background-color: white;
    }
}

