.photo-index {
    // .container-fluid {
    //     max-width: 1200px;
    // }
    // Within style tags in your html file
    * { box-sizing: border-box; }
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    .grid-sizer,
    .grid-item {
        width: 25%;
    }
    @media (max-width: 575px) {
        .grid-sizer,
        .grid-item {
            width: 50%;
        }
    }
    @media (min-width: 576px) and (max-width: 767px) {
        .grid-sizer,
        .grid-item {
            width: 33.333%;
        }
    }

    /* To change the amount of columns on larger devices, uncomment the code below */

    /* @media (min-width: 768px) and (max-width: 991px) {
    .grid-sizer,
    .grid-item {
        width: 33.333%;
    }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
    .grid-sizer,
    .grid-item {
        width: 25%;
    }
    }
    @media (min-width: 1200px) {
    .grid-sizer,
    .grid-item {
        width: 20%;
    }
    } */

    .grid-item {
        float: left;
        padding: 8px;
        .img {
            display: block;
            max-width: 100%;
            position: relative;
        }
    }
    .photo-top {
        position: absolute;
        top: 0px;
        left: 0px;
        width: max-content;
        visibility: hidden;
        p {
            font-size: 14px;
        }
    }
    .photo-bottom {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: max-content;
        visibility: hidden;
        p {
            font-size: 14px;
        }
    }
    .user-img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }
    .photo-img {
        width: 100%;
        height: auto;
        cursor: zoom-in;
    }
    .img:hover {
        background-color: black;
        .photo-img {
            opacity: 0.8;
        }
        .photo-top {
            visibility: visible;
        }
        .photo-bottom {
            visibility: visible;
        }
    }
    .card-img {
        width: 100%;
    }
    .card-img-top {
        width: 100%;

    }




}


