.photo-show {
    .user-img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .col {
        max-width: 840px;
        .photo-img {
            width: 100%;
        }
    }
    .photo-title {
        font-size: 24px;
    }
    .photo-tag {
        display: inline-block;
        font-size: 12px;
        padding: 4px 8px;
        margin: 0px 4px 8px 0px;
    }
    .photo-item {
        margin-bottom: 12px;
    }
    .photo-map {
        font-size: 12px;
    }

}

